@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

:root {
    --Tomato: hsl(4, 100%, 67%);
    --DarkSlateGrey: hsl(234, 29%, 20%);
    --CharcoalGrey: hsl(236, 18%, 30%);
    --Grey: hsl(231, 7%, 60%);

}
body {
    display: grid;
    place-content: center ;
    font-family: 'Roboto' , sans-serif;
    background-color: var(--CharcoalGrey);
}

.intro{
    position: relative;
    display: flex;
    padding: 30px;
    flex-direction: row;
    border-radius: 25px;
    background-color: white;
    margin-top: 50px;
}

.intro .info {
    padding: 70px,50px,50px,20px;
}

h1 {
    color: var(--DarkSlateGrey);
    font-size: 3.7rem;
    margin-bottom: 20px;
}

.intro p {
    color: var(--CharcoalGrey);
    font-weight: bold;
    line-height: 1.5;
}

ul{
    margin-top: 20px;
    margin-bottom: 30px;
}

li{
    list-style: none;
    color: var(--CharcoalGrey);
    font-weight: 40px;
    margin-bottom: 15px;
}

li::before {
    content: url(./assets/images/icon-list.svg);
    position: absolute;
    left: 50px;
}

.fill {
    margin-top: 50px;

}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--CharcoalGrey);
    font-size: 0.8rem;

}

.content .err {
    display: none;
    color: var(--Tomato);
}

.input {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.input .input {
    width: 100px;
    height: 50px;
    padding: 20px;
    font-weight: bold;
    border: 1px solid var(--Grey);
    border-radius: 10px;
}
.btn .btn{
    background-color: var(--CharcoalGrey);
    margin-top: 20px;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    padding: 5px;
    border-radius: 5px;
    color: white;
    width: 100%;
    height: 50px;

}
.desc-img {
    border-radius: 25px;

}
.mob-img {
    display: none;
}

.success {

    display: none;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 150px;
    padding: 30px;
    width: 40%;
}
.success .top img {
    width: 50px;
    margin-bottom: 20px;

}

.success .mid {


}
